<a href="https://colab.research.google.com/github/erica00j/machinelearning/blob/main/mlstudy3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"name":['Kim','Lee','Park'],
                   "toy":[np.nan,'Bobby','Ironman'],
                   "born":[pd.NaT,pd.Timestamp("1940-04-25"),pd.NaT]})

In [2]:
df

   name      toy       born
0   Kim      NaN        NaT
1   Lee    Bobby 1940-04-25
2  Park  Ironman        NaT

In [3]:
df.dropna(axis=1)

   name
0   Kim
1   Lee
2  Park

In [4]:
df.dropna(how='all')

   name      toy       born
0   Kim      NaN        NaT
1   Lee    Bobby 1940-04-25
2  Park  Ironman        NaT

In [5]:
df.dropna(thresh=2)

   name      toy       born
1   Lee    Bobby 1940-04-25
2  Park  Ironman        NaT

In [6]:
df.dropna(subset=['name','toy'])

   name      toy       born
1   Lee    Bobby 1940-04-25
2  Park  Ironman        NaT

In [8]:
df.dropna(inplace=True)
df

  name    toy       born
1  Lee  Bobby 1940-04-25

In [9]:
df

  name    toy       born
1  Lee  Bobby 1940-04-25

In [10]:
df.dropna()

  name    toy       born
1  Lee  Bobby 1940-04-25